.aprouch-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aprouch-information h1 {
  margin: 10px auto;
}

.aprouch-information img:nth-of-type(1) {
  max-height: 300px;
  margin: 15px;
  margin-bottom: 0px;
}

.aprouch-information img:nth-of-type(2) {
  max-height: 400px;
  margin: 15px;
  margin-bottom: 0px;
}

.pixel-art {
  border-radius: 50%;
  border: 8px solid var(--border);
}

.small-information-about {
  background-color: var(--boxes-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 160px;
}

.small-information-about p:nth-child(n) {
  margin-top: 10px;
  max-width: 63%;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 0.3px;
}

@media (max-width: 930px) {
  .aprouch-information img:nth-of-type(1) {
    max-height: 270px;
    transition: 0.6s;
  }
  .aprouch-information img:nth-of-type(2) {
    max-height: 290px;
    transition: 0.6s;
  }
}

@media (max-width: 630px) {
  .aprouch-information h1 {
    font-size: 1.5em;
    max-width: 80%;
    text-align: center;
  }

  .aprouch-information p {
    font-size: 0.8em;
    max-width: 80%;
    text-align: center;
  }

  .aprouch-information img:nth-of-type(1) {
    max-height: 240px;
    transition: 0.6s;
  }
  .aprouch-information img:nth-of-type(2) {
    max-height: 220px;
    transition: 0.6s;
  }

  .small-information-about h2 {
    font-size: 1.3em;
    max-width: 80%;
    text-align: center;
  }

  .small-information-about p {
    font-size: 0.8em;
    max-width: 80%;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .aprouch-information img:nth-of-type(2) {
    max-height: 150px;
    transition: 0.6s;
  }
}
