.figure-container {
	position: relative;
	margin: 15px;
}

figcaption {
	padding: 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.89);
	opacity: 0;
	transition: 0.5s;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	justify-content: space-around;
}

figcaption:hover {
	opacity: 1;
	border-radius: 10px;
}

.a-ref-black {
	border: none;
}

.a-ref-black a {
	color: rgb(255, 255, 255);
	border: 1px solid white;
	border-radius: 15px;
	padding: 20px;
}

.a-ref-black a:hover,
.a-ref-black a:active {
	color: #6e07f3;
	border: 1px solid#6e07f3;
}

.figure-container img {
	width: 500px;
	height: 500px;
	object-fit: cover;
	border-radius: 10px;
	border: 7px solid #81d2dc;
}

@media (max-width: 610px) {
	.figure-container img {
		width: 400px;
		height: 400px;
	}

	.figcaption {
		position: initial;
		opacity: 1;
	}
}
