.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  background: var(--boxes-color);
}

.footer p {
  text-align: center;
  max-width: 70%;
}

.small-img {
  height: 90px;
  border-radius: 50%;
}

.logo-link {
  color: #6e07f3;
  margin: 20px;
}

.logo-link:hover {
  color: #8b81dc;
}

.footer-span {
  border: none;
}

.dark-footer {
  background: #212121;
}
